<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
  </head>
  <body>
    <h2>Courses</h2>
    <ul>
      {% for course in courses %}
        <li>{{ course.name }}
          {% if course.is_premiun %}
            - Premium course
          {% else %}
            - Free course
          {% endif %}
        </li>
      {% endfor %}
  </ul>
  </body>
</html>
